body {
  padding-top: 50px;
}

h1, h2, h3, h4 {
  text-align: center;
}

.starter-template {
  padding: 40px 15px;
}

.project {
  width: 80%;
  margin: 0 auto;
  padding-top : 20px;
}

.vid {
  text-align: center;
  margin: 0 auto;
}
