body {
  padding-top: 50px;
  font-family: 'Roboto';
}

h1, h2, h3, h4 {
  text-align: center;
}

.starter-template {
  padding: 40px 15px;
}

.project {
  width: 80%;
  margin: 0 auto;
  padding-top : 20px;
}

@media screen and (max-width: 720px) {
    iframe {
        max-width: 100% !important;
        width: auto !important;
        height: auto !important;
    }
}

.vid {
  padding-bottom: 30px;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.row {
  padding-top:40px;
}

.banner {
  margin-top:0px;
  background-color:#222222;
}


#blurredImg
{
    left:0;
    top:0;
    z-index:-1;
}
#ImgText {
    position: absolute;
    top: 115px;
    text-align:center;
    font-family: 'Montserrat';
    font-size: 200%;
    color: #fff;
    padding: 0 20px;
    width: 100%;
    line-height: 150%;

    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.footer {
    background-color:#222222;
}

div.fluidimg {
  /* The background image must be 800px wide */
  max-width: 800px;
  text-align:center;
}

figure.fluidratio {
  padding-top: 30%;  /* slope */
  height: 200px;  /* start height */

  background-image: url("img/aboutBanner.jpg");
  background-size: cover;
  -moz-background-size: cover;  /* Firefox 3.6 */
  background-position: center;  /* Internet Explorer 7/8 */
}

p {
  padding-top: 10px;
}

a.iconLink {
    margin: 7px;
}
